<aside class="seccion-amigos" id="barraLateral">

    <div class="canales-servidor">

        <span class="categoria-canales">
            CANALES
        </span>


        <button type="button" class="btn-canal" data-page="inicio">
            🏠 #inicio
        </button>


        <button type="button" class="btn-canal" data-page="miembros">
            👥 #miembros
        </button>


        <button type="button" class="btn-canal" data-page="muro">
            💬 #muro-general
        </button>


        <button type="button" class="btn-canal" data-page="anuncios">
            📢 #anuncios
        </button>


        <button type="button" class="btn-canal" data-page="arcade">
            🕹️ #arcade-zone
        </button>

    </div>

    <div class="panel-usuario-inferior" id="panelUsuarioInferior">

        <div id="menuDesplegableUsuario" class="menu-popup-usuario oculto">

            <button type="button" id="btnConfiguracion" class="item-popup">

                <span class="icono-item-popup">
                    ⚙️
                </span>

                Ajustes de Cuenta

            </button>


            <div class="separador-popup"></div>


            <button id="btnCerrarSesion" type="button" class="item-popup item-popup-rojo">

                <span class="icono-item-popup">
                    🚪
                </span>

                Cerrar Sesión

            </button>

        </div>

        <div class="cuerpo-usuario" id="btnToggleMenuUsuario" title="Opciones de cuenta">

            <div class="sesion-info">

                <span id="labelUsuario" class="nombre-usuario-texto">
                    Cargando...
                </span>


                <span class="subtexto-estado">
                    🟢 En línea
                </span>

            </div>


            <span class="icono-flecha">
                ▲
            </span>

        </div>

    </div>
</aside>